<a href="https://colab.research.google.com/github/akku24/python_workshop/blob/main/Python_workshop_day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hello World

In [ ]:
print('Hello World!')

Hello World!

In [ ]:
x = 5
y = "John"
print(x,y)

5 John

In [ ]:
x, y, z, = 1, 2, 3
print(x,y,z)

1 2 3

In [ ]:
x, y, z = input("Enter the number >> ").split()
print(x,y,z)

Enter the number >> 1 2 3
1 2 3

#Exercise-1

In [ ]:
carname = 'Volvo'
print(carname)

Volvo

#Exercise-2

In [ ]:
x = 50
print(x, type(x))

50 <class 'int'>

#Exercise-3

In [ ]:
x, y = 5, 10
print('Sum of x and y is >>',x+y)

Sum of x and y is >> 15

#Exercise-4

In [ ]:
x, y = 11, 17
z = x+y
print("sum of x + y is >>",z)

sum of x + y is >> 28

In [ ]:
x1 = "Hello World"  #String
x2 = 10             #integer
x3 = 10.1           #float
x4 = ["apple","banana","cherry"]  #list
x5 = ("apple","banana","cherry")  #tuple
x6 = range(6)  #range
x7 = {"name": "Johnwick", "age" : 36}  #dictionary
x8 = {"apple","banana","cherry"}       #set
x9 = True   #bool
print(x1,x2,x3,x4,x5,x6,x7,x8,x9,sep='\n')

Hello World
10
10.1
['apple', 'banana', 'cherry']
('apple', 'banana', 'cherry')
range(0, 6)
{'name': 'Johnwick', 'age': 36}
{'apple', 'cherry', 'banana'}
True

#Assignment-1

In [ ]:
x = 2
y = 3
a = str(x)
b = str(y)
print(a + b)

23

In [ ]:
a = "Hello World"
print(a[2])
print(len(a))
b = "Hello World"
print(b[-5:-2])

l
11
Wor

In [ ]:
a = "hello world" 
print(a.capitalize())

Hello world

In [67]:
name = 'alvas'
print(len(name))
print(name[:4])
print(name.upper())
print(name + " college")
a = 'alvas {}'
b = 'college'
print(a.format(b))
print(name.isdigit())

5
alva
ALVAS
alvas college
alvas college
False

In [73]:
print(10+9)

19

In [77]:
x = 5
x += 5 #x = x + 5
print(x)

10

In [84]:
a, b = input("Enter two numbers to perform all the oprations >> ").split()
a = int(a)
b = int(b)
print("Sum >> ",a+b)
print("Subtraction of a and b (a-b) >> ",a-b)
print("Multiplication >> ",a*b)
print("Division >> ",a/b)
print("a power b >> ",a**b)

Enter two numbers to perform all the oprations >> 2 5
Sum >>  7
Subtraction of a and b (a-b) >>  -3
Multiplication >>  10
Division >>  0.4
a power b >>  32